/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
#upload {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 80px;
	border-radius: 40px;
	background-color: #EFFFD9;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title-sm {
	font-size: 25px;
  	font-weight: SemiBold;
	font-family:'Montserrat', sans-serif;
	color: #0D3533;
}

#sign-up {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 40px;
	border-radius: 40px;
	background-color: #EFFFD9;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ms-text-center {
	text-align: center;
	font-size: 18px;
  	font-weight: SemiBold;
	font-family:'Montserrat', sans-serif;
	color: black;
}

.ms-login-top {
	width: 100%;
	height: 100%;
	color: black;
	margin: 0;
}

.title-profile {
	text-align: center;
	font-size: 40px;
	margin-bottom: 100px; 
  	font-weight: SemiBold;
	font-family:'Montserrat', sans-serif;
	color: #1F5C2B;
}

.button-account {
	margin: auto;
	width: 200px;
	height: auto;
	border-radius: 40px;
	background-color: white;
}

.toolbar {
	height: 60px;
	background-color: #D0E700;
}

.col-90 {
	text-align: center;
}

.page-content {
	background-image: url(../images/plantsbackgroundlight.jpg);
}

.statusbar-overlay {
    background: #000000;
}

.navbar {
	padding: 50px;
	background-color: #D0E700;
}

.title {
	font-size: 30px;
  	font-weight: Bold;
	font-family:'Montserrat', sans-serif;
	color: #053937;
}
.navti{
	vertical-align:sub;
	margin-right: 5px;
}

.navti2{
	vertical-align:middle;
	margin-right: 5px;
}
.linkto{
	color: #EFEFF4
}
.activelink{
	color: #2E6A3A
}

#account {
	font-size: 18px;
  	font-weight: SemiBold;
	font-family:'Montserrat', sans-serif;
	color: #1F5C2B;
}

#title-name {
	font-size: 14px;
  	font-weight: SemiBold;
	font-family:'Montserrat', sans-serif;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

.bar {
  background-color: ;
  margin: 20px 0px;
  position: relative;
  font-size: 20px;
  font-weight: semibold;
  font-family:'Montserrat', sans-serif; 
  color: #D0E700;
	align-items: center;
}

.text-glitch {
  background-color: white;
  margin: 10px 0;
  position: relative;
  font-size: 20px;
  font-weight: semibold;
  font-family:'Montserrat', sans-serif; 
  color: white;
}

.bar-sm {
  background-color: #D0E700;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  font-size: 15px;
  font-weight: semibold;
  font-family:'Monterras', sans-serif; 
  color: white;
}

#accountinfo {
  background-color: #5C1F28;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  font-size: 15px;
  font-weight: semibold;
  font-family:'Monterras', sans-serif; 
  color: white;
}

.bar-header {
	border-radius: 2px 2px 0 0;
	background-color: #4AA85D;
 	font-size: 25px;
	font-weight: bold;
	color: white;
 	min-height: 44px;
	width: 50%;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
 }

.bar-header-active {
	border-radius: 2px 2px 0 0;
	background-color: #2A5F34;
	border:solid;
	border-color: #D0E700;
 	font-size: 25px;
	font-weight: bold;
	color: white;
 	min-height: 44px;
	width: 49%;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
 }
 
 .image-header {
    padding: 10px 15px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
 }
 
 .tattoo-image {
	width: 100%;
	height: auto;
 }
 
 .text-picture {
	 text-align: center;
	 padding: 5px;
 }

.panel {
	background-color: #E4EB9E;
}
